In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [185]:
df = pd.read_csv('bus_data.csv')

In [196]:
df['SITR'] = df['dwell_time'] / df['travel_time']

In [187]:
ninety_percentile = df['travel_time'].quantile(0.9)
df['excess_travel_time'] = df['travel_time'] - ninety_percentile

In [188]:
df['excess_travel_time'] = df['excess_travel_time'].apply(lambda x: 0 if x < 0 else x)

In [193]:
df = df.drop('Unnamed: 0',axis=1)

In [194]:
grouped_df = df.groupby('deviceid').mean().reset_index()

grouped_df = grouped_df.round(2)

In [199]:
preprocessed_data = grouped_df.drop('deviceid',axis=1)

In [200]:
preprocessed_data

    travel_time  dwell_time  SITR  excess_travel_time
0         46.30        5.61  0.11                0.63
1         50.59        6.16  0.12                0.64
2         51.22        7.85  0.12                6.17
3         49.09        8.02  0.13                2.79
4         46.54        6.14  0.13                0.21
5         48.13        6.87  0.14                0.57
6         47.48        5.96  0.12                0.30
7         49.56        9.21  0.14                3.87
8         45.91        5.41  0.11                0.32
9         47.32        6.00  0.12                0.22
10        46.41        5.67  0.12                0.37
11        43.67       27.15  1.22                0.46
12        44.93        5.48  0.11                0.97
13        48.39        6.49  0.13                0.31
14        25.24        0.32  0.01                0.00
15        46.29        5.69  0.12                0.33
16        55.31       10.76  0.14                5.67
17        46.49        5.54  0.10                1.25
18        47.69       28.93  0.51                0.65